
<header>
    <!--<link rel="shortcut icon" type="image/x-icon" href="images/logo.png" />
    <span class = "logo";>SanTek</span> <span class = "desc">Where Your Tech Needs And</span>
    <br>
    <span class = "logo"; id = "W2">Solutions</span> <span class = "desc">Desires Are Met and Satisfied</span>-->
    <div class="navbar">
        <!-- Left-aligned Home button -->
        <button>EcoDex</button>

        <!-- Right-aligned Login button -->
        <button>Login</button>
    </div>
</header>
